@use 'sass:string';

@function _sd-to-css-var-name($path) {
  $out: '';

  @for $i from 1 through string.length($path) {
    $char: string.slice($path, $i, $i);

    @if $char == '.' {
      $out: $out + '-';
    } @else {
      $out: $out + $char;
    }
  }

  @return '--' + $out;
}

@function token($path) {
  @return var(--themeshift-#{string.slice(_sd-to-css-var-name($path), 3)});
}
