@use '@/sass/mixins/button';
@use '@/sass/mixins/accessibility';

.container {
  @include button.reset;

  padding: token('components.button.padding');
  border-radius: token('radius.small');
  font: bold token('font.size.md') token('components.button.font');
  transition:
    0.3s background,
    0.3s color,
    0.2s box-shadow;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include accessibility.buttonFocus;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

// Button sizes
.small {
  font-size: token('font.size.xs');
}

.medium {
  font-size: token('font.size.m');
}

.large {
  font-size: token('font.size.l');
}

// Button intents
.primary {
  background: token('components.button.intents.primary.surface');
  color: token('components.button.intents.primary.fg');

  &:hover {
    background: token('components.button.intents.primary.hover');
  }
}

.secondary {
  background: token('components.button.intents.secondary.base');
  color: token('components.button.intents.secondary.base');
}

.constructive {
  background: token('components.button.intents.constructive.base');
  color: token('components.button.intents.constructive.base');
}

.destructive {
  background: token('components.button.intents.destructive.base');
  color: token('components.button.intents.destructive.base');
}
