@use '../sass/mixins/typography';

@import '@fontsource-variable/noto-sans/wght.css';
@import '@fontsource-variable/noto-sans/wght-italic.css';

:root {
  color-scheme: dark light;
  color: token('theme.text.base');
  background-color: token('theme.surface.base');

  @include typography.style('body.default');
}
