@use '../sass/tokens.runtime.scss' as *;

@import '@fontsource-variable/noto-sans/wght.css';
@import '@fontsource-variable/noto-sans/wght-italic.css';

:root {
  color-scheme: dark light;
  color: token('theme.text.base');
  background-color: token('theme.surface.base');

  font-family: token('font.family.sans');
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
