@mixin focusRing(
  $ringColor: var(--themeshift-accessibility-focus-ring),
  $gapColor: var(--themeshift-accessibility-focus-gap),
  $ringWidth: var(--themeshift-accessibility-focus-ring-width),
  $gapWidth: var(--themeshift-accessibility-focus-gap-width)
) {
  box-shadow:
    0 0 0 #{$gapWidth} #{$gapColor},
    0 0 0 calc(#{$gapWidth} + #{$ringWidth}) #{$ringColor};
}

@mixin buttonFocus(
  $ringColor: var(--themeshift-accessibility-focus-ring),
  $gapColor: var(--themeshift-accessibility-focus-gap),
  $ringWidth: var(--themeshift-accessibility-focus-ring-width),
  $gapWidth: var(--themeshift-accessibility-focus-gap-width)
) {
  outline: none;
  @include focusRing($ringColor, $gapColor, $ringWidth, $gapWidth);
}
